.screen {
  width: 100%;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--bg-secondary);
}

header {
  flex-shrink: 0;
  width: 100%;
  padding: 5% 0;
  background-color: var(--bg-secondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.secondHeader {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row !important;
}

.backButton {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  z-index: 2;
}

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}
.rightActions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.headerLeft .secondHeader {
  justify-content: flex-start;
  padding: 0 7%;
  box-sizing: border-box;
}

.headerLeft .contentHeader {
  justify-content: flex-start;
}

.contentScreen {
  width: 100%;
  box-sizing: border-box;
  padding: 8% 6% 0;
  flex-grow: 1;
  overflow-y: auto;
  background-color: #fbfbfb;

  -webkit-overflow-scrolling: touch;
}

h1.title {
  font-family: 'Nunito-Bold', sans-serif;
  color: var(--third-color);
  font-weight: 900;
  font-size: 22px;
  margin: 0;
  text-align: center;
}

.headerLeft h4.title {
  text-align: left;
}

.noShadow {
  box-shadow: none;
}

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.headerLeft {
  justify-content: flex-start;
}

.profileIcon {
  position: absolute;
  right: 5%;
  border: none;
  background-color: transparent;
}

.profileIcon1 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.tabsWrapper {
  width: 100%;
  flex-shrink: 0;
  background-color: var(--background-color);
  padding: 0 10%;
  z-index: 9;
}

@media (max-width: 400px) {
  h4.title {
    font-size: 18px;
  }
  .backButton {
    width: 14px;
  }
}
